
#Corpo{
    width: 1000px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    margin:0 auto;
    padding: 50px;
    border-radius: 5px;

}

header{
    background-color: black;
    position: relative;
}

h1{
    color: blanchedalmond;
    
}
h3{
    color: blanchedalmond;
    font-style: italic;
    text-align: center;
}

#busca {
	position: absolute;
	top:10px;
    right:10px;

}

a{
    color: red;
}

#logo{
    text-align: center;
    color: blue;
    
}

main{
    width: 900px;
    margin-top: auto;
    margin-left: auto;
    margin: auto;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;

}

.texto{
background-color:gold;
color: blue;
font-size: 20px;
padding: 3px 3px;
border-radius: 10px;
text-align: center;



}

nav ul li a {
	color:black;
	background: red;
	font:bold 14px arial;
	display: block;
	padding:5px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: black;
	color: yellow;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	width:19%;
	text-align: center;
}

footer{
    margin-top: 15px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;

}